.container {
    border-radius: 16px;
    border: 1px solid #0D6EFD;
    background: #F8F9FA;
    box-shadow: 0 px 8 px 16 px 0px rgba(61, 139, 253, 0.15);
    width: 684px;
    max-width: 90%;
    margin: 0 auto;
    padding: 56 px 134; /* vertical/horizontal */
    margin-top: 80px;
    box-sizing: border-box;
}