.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    border-bottom: 1px solid #0D6EFD ;
    padding-bottom: 40px;
    padding-top: 40px;
}
.cabecalho .titulo {
    color: #0D6EFD;
    font-family: 'Zen Dots';
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    line-height: 39px;
    text-align: center;
    margin: 0;
}

.cabecalho .titulo span {
    color : #FD9843
}
